

&spi1 {
    status = "okay";

    ad7124: ad7124@0 {
        compatible = "adi,ad7124-adc";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <10000000>;
        active-device = <1>;
        #io-channel-cells = <1>;
    };
};

&i2c1 {
	  status = "okay";

    tps55287: tps55287@0 { /* might need to have a different reg */
      compatible = "ti,tps55287-adc";
      status = "okay";
      reg = <1>;
      clock-frequency = <400000> //the fast standard clock-frequency is 400 kbps
      //might have to define the clock
      /* Whatever else you need to specify for this board */
    };
};
